.heading {
	font-size:30px;
	position:absolute;
}

.subHeading {
	font-size:20px;
	width:50px;
	height:25px;
	position:absolute;
}

.gridElement{
/*	border-style: solid;
	border-width: 1px;*/
}

.frame {
	height: 20vh;
	width: 15vw;
/*	background-color: green;*/
	position: absolute;
}

.subframe {
	height: 12vh;
	width: 8vw;
/*	background-color: lightblue;*/
	position: absolute;
}

canvas[resize] {
    width: 100%;
    height: 100%;
}

#logo {
	width: 7vw;
	height: 7vw;
	right: 20px;
	top: 20px;
	position: absolute;
	background-size: cover;
	background-image: url("../img/logo.png");
}

.textbox {
  width: 50vw;
/*  color: black;*/
  z-index: 5;
/*  border: 2px solid #309937;*/
  position: absolute;
/*  background-color: white;*/
  opacity: 80%;
  top: 12vh;
  left: 25vw;
  padding:20px 40px 20px 40px;
/*  box-shadow:2px 2px 5px rgba(0,0,0,0.3);*/
}