.heading {
	font-size:30px;
	position:absolute;
}

.subHeading {
	font-size:20px;
	width:50px;
	height:25px;
	position:absolute;
}

.gridElement{
/*	border-style: solid;
	border-width: 1px;*/
}

.frame {
	height: 20vh;
	width: 15vw;
/*	background-color: green;*/
	position: absolute;
}

#frame0 {
	top:60vh;
	left: 42.5vw;
}

#frame1 {
	top: 65vh;
 	left: 25vw;
}

#frame2 {
	top: 43vh;
 	left: 15vw;
}

#frame3 {
	top: 30vh;
	left: 30vw;
}

#frame4 {
	top: 30vh;
	left: 47vw;
}

#frame5 {
	top: 43vh;	
	left: 65vw;
}

#frame6 {
	top: 65vh;
	left: 60vw;
}


