#frame0 {
	top:60vh;
	left: 42.5vw;
}

#frame1 {
	top: 65vh;
 	left: 25vw;
}

#frame10 {
	top: 63vh;
 	left: 21vw;
}

#frame11 {
	top: 60vh;
 	left: 24vw;
}

#frame2 {
	top: 43vh;
 	left: 15vw;
}

#frame20 {
	top: 43vh;
 	left: 15vw;
}

#frame21 {
	top: 43vh;
 	left: 15vw;
}

#frame3 {
	top: 30vh;
	left: 30vw;
}

#frame4 {
	top: 30vh;
	left: 47vw;
}

#frame5 {
	top: 43vh;	
	left: 65vw;
}

#frame6 {
	top: 65vh;
	left: 60vw;
}
