.frame {
	height: 20vh;
	width: 15vw;
/*	background-color: green;*/
	position: fixed;
}

.subframe {
	height: 12vh;
	width: 8vw;
/*	background-color: lightblue;*/	
	position: fixed;
}


#frame0 {
	top:60vh;
	left: 42.5vw;
}

#frame1 {
	top: 65vh;
 	left: 25vw;
}

#frame10 {
	top: 70vh;
 	left: 16vw;
}

#frame11 {
	top: 55vh;
 	left: 16vw;
}

/*#frame12 {
	top: 75vh;
 	left: 25vw;
}

#frame13 {
	top: 70vh;
 	left: 7vw;
}

#frame14 {
	top: 60vh;
 	left: 7vw;
}
*/
#frame2 {
	top: 43vh;
 	left: 15vw;
}

#frame20 {
	top: 40vh;
 	left: 7vw;
}

#frame21 {
	top: 31vh;
 	left: 15vw;
}

#frame22 {
	top: 26vh;
 	left: 10vw;
}

#frame3 {
	top: 30vh;
	left: 30vw;
}

#frame30 {
	top: 17vh;
	left: 25vw;
}

#frame31 {
	top: 17vh;
	left: 35vw;
}

#frame4 {
	top: 30vh;
	left: 47vw;
}

#frame5 {
	top: 43vh;	
	left: 65vw;
}

#frame50 {
	top: 30vh;	
	left: 65vw;
}

#frame51 {
	top: 17vh;	
	left: 72vw;
}

#frame52 {
	top: 30vh;	
	left: 76vw;
}

#frame53 {
	top: 43vh;	
	left: 80vw;
}

#frame6 {
	top: 65vh;
	left: 60vw;
}

#frame60 {
	top: 70vh;
 	left: 80vw;
}

#frame61 {
	top: 55vh;
 	left: 75vw;
}

#frame62 {
	top: 75vh;
 	left: 70vw;
}