.container {
	display: grid;
	grid-template-columns: 150px 100px minmax(300px, 1fr) 100px 150px;
	grid-template-rows: 80px minmax(300px, 1fr) 50px;
	grid-gap: 1em 1em;
	height: 100vh;
	margin: 0px !important;
}

.translate {
	grid-area: 1 / 1 / 2 / 2;
}

.marqueeContainer {
	grid-area: 1 / 2 / 2 / 5;
}

.teapot {
	grid-area: 1 / 5 / 2 / 6;
}

.pageContainer {
	grid-area: 2 / 3 / 3 / 4;
	text-align: justify;
	overflow-y: scroll;
}

.treeContainer {
	grid-area: 2 / 1 / 3 / 6;
}

.mainMenuContainer-en {
	grid-area: 2 / 1 / 3 / 2;
}

.submenuContainer-en {
	grid-area: 2 / 2 / 3 / 3;
}

.imageContainer-en {
	grid-area: 2 / 4 / 3 / 6;
	overflow-y: scroll;
}

.mainMenuContainer-ar {
	grid-area: 2 / 5 / 3 / 6;
}

.subMenuContainer-ar {
	grid-area: 2 / 4 / 3 / 5;
}

.logoContainer {
	grid-area: 3 / 1 / 4 / 2;
}

.socialContainer {
	grid-area: 3 / 5 / 4 / 6;
}

.imageContainer-ar {
	grid-area: 2 / 1 / 3 / 3;
}