@font-face {
	font-family: 'Canela';
	src: url('../fonts/Canela/Canela-Light.ttf') format('truetype'); 
	unicode-range: U+0025-00FF;
}  

@font-face {
	font-family: 'Apercu';
	src: url('../fonts/Apercu/Apercu-Regular.ttf') format('truetype'); 
	unicode-range: U+0025-00FF;
}  


@font-face {
	font-family: 'aljazeera';
	src: url('../fonts/aljazeera/.ttf') format('truetype'); 
	unicode-range: U+0600–06FF;
}

body {
	font-family: 'Canela';
	color: white;
	background-color: #309937;
}

p {
	font-family: 'Apercu';
	color: white;
	background-color: #309937;
}