@font-face {
	font-family: 'Canela';
	src: url('../fonts/Canela/Canela-Light.ttf') format('truetype'); 
	unicode-range: U+0025-00FF;
}  

@font-face {
	font-family: 'Apercu';
	src: url('../fonts/Apercu/Apercu-Regular.ttf') format('truetype'); 
	unicode-range: U+0025-00FF;
}  


@font-face {
	font-family: 'aljazeera';
	src: url('../fonts/Aljazeera/Aljazeera-bold.ttf') format('truetype'); 
	unicode-range: U+0600–06FF;
}

@font-face {
	font-family: 'Barabics';
	src: url('../fonts/Barabic/Barabics.ttf') format('truetype');
	unicode-range: U+0600–06FF;
}

body {
	font-family: Canela, aljazeera;
	color: white;
	background-color: #309937;
	line-height: 1;
}

p {
	font-family: Apercu, Barabics;
	color: white;
	background-color: #309937;
	line-height: 1;
}