.heading {
	font-size:80px;
	width:100px;
	height:50px;
	position:absolute;
}

#container {
	overflow-x: hidden;
	display: inline-block;
	white-space: nowrap;
	width: 10000;
    height: 100vh;	
}

.page {
  	float:left;
    width: 99vw;
    height: 99vh;
}
