body{
	overflow-y: hidden;
    width: 5000px;
    height: 100%;
/*    margin: 0px;*/
    max-height: 100vh;
}

:lang(ar) {
	direction: rtl;
}

:lang(en) {
	direction: ltr;
}

.heading {
	font-size:5.5vh;
	height:5vh;
	margin-bottom: 10px;
	position:relative;
}

.heading:lang(ar) {
	font-size:6vh;
	margin-bottom: 15px;
}

#container {
	overflow-x: scroll;
	overflow-y: hidden;
	z-index: 3;
	display: inline-block;
	white-space: nowrap;
	max-height: 100vh;
}

.textPage {
	display: grid;
	grid-template-columns: 20vw 50vw 20vw;
	grid-template-rows: 5vh 45vh 22vh 10vh;
	grid-auto-rows: 1fr;
	grid-gap: 1em 1em;
}

.textPageImageBox {
	padding-left: 20px;
	padding-right: 20px;
	grid-area: 3 / 1 / 4 / 4;
}

.textPageFooter {
	grid-area: 4 / 1 / 5 / 4;
}

.textPageTitle {
	font-size: 5vh;
	padding: 20px;
	grid-area: 1 / 1 / 2 / 4;
}

.textPageBody {
	padding: 20px;
	white-space: normal;
	overflow-y: scroll;
	text-align: justify;
	grid-area: 2 / 1 / 3 / 4;
}

.menuPage {
	display: grid;
	float: left;
	width: 100vw;
    height: 100vh;
	grid-template-columns: 20vw 50vw 20vw;
	grid-template-rows: 1fr 23vh;
	grid-gap: 1em 1em;
}

.menuPageFooter {
	grid-area: 3 / 1 / 3 / 3;
}

.translateBox {
	grid-area: 2 / 1 / 3 / 2;	
}

.backBox {
	grid-area: 2 / 3 / 3 / 4;
	margin-bottom: 10px;
}

.menuPageBody {
	padding: 15px;
	grid-area: 1 / 1 / 2 / 4;
}

.imageContainer {
	height: 100%;
	width: 100%;
	overflow-x: scroll;
	position: relative;
	display: inline-block;
	z-index: 10;
}

.bottomImage {
	height: 95%;
	border: 2px solid white;
	width: auto !important;
	margin-right: 10px;
}

#translate {
  	font-size: 5vh;
  	padding:20px;
  	z-index: 6;
  	position: fixed !important;
}

#translate:lang(ar) {
  	font-size: 4vh;
}

#translate:lang(en) {
  	font-size: 3.6vh;
}

#backButton {
  width: 5vh;
  height: 5vh;
  z-index: 10;
  margin: 3vw;
  background-image: url("../img/close.png");
  background-size: cover;
  position: fixed !important;
}

p:lang(ar) {
  	font-size: 3vh;
}

p:lang(en) {
  	font-size: 2.2vh;
}