body{
	overflow-y: hidden;
    width: 100000px;
    height: 100%;
    margin: 0px;
}

:lang(ar) {
	direction: rtl;
}


:lang(en) {
	direction: ltr;
}

.heading {
	font-size:5vh;
	height:5vh;
	position:relative;
}

.heading:lang(ar) {
	font-size:7vh;
}

#container {
	overflow-x: scroll;
	overflow-y: hidden;
	z-index: 3;
	display: inline-block;
	white-space: nowrap;
	max-height: 100vh;
}

.page {
  	float:left;
    width: 100vw;
    height: 100vh;
}

.menuContainer {
  	margin: 15px;
    width: 90%;
}

.textbox {
	padding: 20px;
	font-size: 15px;
  	float:left;
  	white-space:normal;
  	width: 80%;
}

.pageTitle {
	font-size: 3vh;
	width: 90%;
	float:left;
  	white-space:normal;
}

#translate {
	top: 90vh;
  	font-size: 5vh;
  	float: left;
  	left: 3vw;
  	position: fixed;
}

#translate:lang(ar) {
  	font-size: 7vh;
}
